.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#header {
  background: rgb(85, 85, 85);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
  border: 2px solid rgb(57, 57, 57);
  padding: 6px;
  border-radius: 4px;
  margin: 10px;
  white-space: nowrap;
}

nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 30vw;
}

a:hover {
  background-color: rgb(0, 167, 205);
}

#map {
  /* width: 700px;
  height: 600px; */
  width: 60vw;
  height: 40vw;
  background: rgb(77, 133, 129);
  margin-top: 50px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(57, 57, 57);
}
#homemap {
  width: 600px;
  background: rgb(77, 133, 129);
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(57, 57, 57);
}

#homepage a {
  background: gray;
}

#homepage a:hover {
  background-color: rgb(0, 167, 205);
}

#homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.main-new-trip {
  display: flex;
  max-width: 90vw;
  justify-content: center;
  align-content: space-between;
}
.trip-details {
  display: flex;
  flex-flow: row wrap;
  width: 40vw;
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;

}
aside {
  display: flex;
  flex-direction: row;
  width: 19vw;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.trips {
  width: 19vw;
  margin: 0;
}

.old-trip {
  border: 2px solid black;
}