.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#header {
  background: rgb(63, 63, 63);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: white;
  border: 2px solid rgb(130, 130, 130);
  padding: 6px;
  border-radius: 4px;
  margin: 10px;
  white-space: nowrap;
}

nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 30vw;
}

nav a:hover {
  background-color: rgb(249, 220, 0);
  color: rgb(45, 45, 45);
  border: 2px solid rgb(28, 28, 28);
}

#map {
  /* width: 700px;
  height: 600px; */
  width: 60vw;
  height: 40vw;
  background: rgb(77, 133, 129);
  margin-top: 50px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(57, 57, 57);
}
#homemap {
  width: 600px;
  background: rgb(77, 133, 129);
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(57, 57, 57);
}

#aboutmap {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  height: 100%
}

#homepage a {
  background: rgb(94, 94, 94);
  font-size: 22px;
  padding: 6px 18px;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid yellow;
}

#homepage a:hover {
  background-color: rgb(249, 220, 0);
  color: rgb(45, 45, 45);
  border: 2px solid rgb(28, 28, 28);
}


#homepage {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#start {
  width: 100px;
  margin: -100px 0 0 -80px;
}

nav .active {
  background-color: rgb(242, 214, 0);
  color: rgb(45, 45, 45);
  border: 2px solid rgb(28, 28, 28);
}

#links {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(60, 60, 60);
  background: rgba(237, 248, 255, 0.687);
  height: 40vh;
  padding: 20px;
  width: 30vw;
  height: 60vh;
  font-size: 20px;
  padding: 15px;
  border-radius: 25px;
  margin-top: 100px;
}


.main-new-trip {
  display: flex;
  max-width: 90vw;
  justify-content: center;
  align-content: space-between;
}
.trip-details {
  display: flex;
  flex-flow: row wrap;
  width: 20vw;
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #919b98 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 15px;
	text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
  margin: 50px 20px 0 20px;

}
aside {
  display: flex;
  flex-direction: row;
  width: 19vw;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.trips {
  width: 19vw;
  margin: 0;
}

.old-trip {
  border: 2px solid black;
}

body {
  background-image: url("./images/road1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

}